# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
ENV/

# Models & Weights
models/models/
*.pt
*.onnx

# Database & Storage
database/*.db
storage/
database/images/

# IDE & OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
